
<div class="container" align="center">
    <p>Made Using SpringBoot (Backend) & Angular13(Frontend)</p>
    <br>
    <br>
    <button (click)="getAllCustomerPage()" class="btn btn-info">Customer List</button>
    &nbsp;
    &nbsp;
    <button (click)="AddCustomerPage()" class="btn btn-info">Add Customer</button>
    &nbsp;
    &nbsp;
    <button (click)="getIdFormForUpdate()" class="btn btn-warning">Update Customer by ID</button>
    &nbsp;
    &nbsp;
    <br>
    <br>
    <br>
    <br>
    <br>
    <button (click)="getIdFormForDelete()" class="btn btn-danger">Delete Customer by ID</button>
    &nbsp;
    &nbsp;
    <button (click)="DeleteAll()" class="btn btn-danger">Delete All Customer</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button (click)="findByIDForm()" class="btn btn-info">Find Customer by ID</button>
    &nbsp;
    &nbsp;
    <button (click)="findByEmailForm()" class="btn btn-info">Find Customer by Email</button>
    &nbsp;
    &nbsp;
  <!--  //find by mobile button-->
    <br>
    <br>
    <br>
  <!--  //delete all and reset ID count-->
  </div>